.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 1000px;
    min-width: 20%;
    background-color: rgb(218, 218, 218);
    text-align: center;
}

.register-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.register-error {
    margin-top: 1rem;
    align-self: center;
    color: rgb(255, 0, 55);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    min-width: 20%;
    height: 200px;
}